/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic rules */
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: black;
  background: linear-gradient(#eaedfd, #89a4f8);
  height: 100%;
  background-attachment: fixed;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

/* Logo */
header img {
  width: 56px;
  height: auto;
}

/* Central content */

main {
  text-align: center;
}

/* Weather info */

.weather-info {
  margin-bottom: 32px;
}

.weather-icon {
  max-width: 100%;
  transition: transform 0.5s, opacity 1s;
}

.weather-location {
  font-size: 18px;
  font-weight: bold;
}

.weather-temperature {
  font-size: 112px;
}

/* Advice Panel */

.panel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  transition: opacity 0.5s, transform 0.5s;
}

.panel h4 {
  font-size: 16px;
  font-weight: normal;
  color: steelblue;
  margin-bottom: 12px;
}

.suggestion {
  font-size: 18px;
  font-weight: bold;
}

/* Loading effect */

.js-loading .weather-icon {
  opacity: 0;
  transform: translateY(30px);
}

.js-loading .panel {
  opacity: 0;
  transform: scale(0);
}