/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic rules */
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: black;
  background: linear-gradient(#eaedfd, #89a4f8);
  height: 100%;
  background-attachment: fixed;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

/* Logo */
header img {
  width: 56px;
  height: auto;
}

/* Central content */

main {
  text-align: center;
}

/* Meteo info */

.weather-info {
  margin-bottom: 32px;
}

.weather-icon {
  max-width: 100%;
}

.weather-location {
  font-size: 18px;
  font-weight: bold;
}

.weather-temperature {
  font-size: 112px;
}