/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic rules */
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: black;
  background: linear-gradient(#eaedfd, #89a4f8);
  height: 100%;
  background-attachment: fixed;
}

/* Container */
.container {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}